﻿<!DOCTYPE html>
<html ng-app="landingpage" ng-controller="ctrl" ng-model="client">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>{{client}} | Project information</title>
		<meta name="description" content="{{client}} | Project information">
		<meta name="author" content="Translations.com GlobalLink Team">
		
		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<!-- Put favicon.ico and apple-touch-icon(s).png in the images folder -->
	    <link rel="shortcut icon" href="custom/favicon.ico">
		    	
		<!-- CSS StyleSheets -->
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="assets/css/assets.css">
		
		<link rel="stylesheet" href="assets/css/style.css">
		<link id="theme_css" rel="stylesheet" href="assets/css/light.css">
		
		<!-- REVOLUTION SLIDER STYLES -->
		<link rel="stylesheet" href="assets/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" type="text/css">
		<link rel="stylesheet" href="assets/revolution/css/settings.css" type="text/css">
		<link rel="stylesheet" href="assets/revolution/css/layers.css" type="text/css">
		<link rel="stylesheet" href="assets/revolution/css/navigation.css" type="text/css">
		

		<!--[if lt IE 9]>
	    	<script type="text/javascript" src="assets/js/html5.js"></script>
	    <![endif]-->
		
		<!-- Skin CSS file -->
		<link id="skin_css" rel="stylesheet" href="custom/default.css">

	</head>
	<body>

		
		<div class="pageWrapper animsition">
			
			<!-- top bar start -->
	    	<div class="top-bar main-bg">
			    <div class="container">
					    
				    <div class="center-tbl">
				    	
				    	<ul class="top-info">
							<!-- INFO NYC -->
						    <li><a href="mailto:newyork@translations.com?subject={{client}} | Info request&body=Dear%20Team,%0A%0Aplease%20provide%20assisstance%20for%20the%20following%20matter:%0A%0A%0AThank%20you,%0A%0A%0A%0A----------%0AE-Mail%20generated%20on%20URL:%20https://gl-{{client}}1.translations.com"><i class="fa fa-envelope"></i>newyork@translations.com</a></li>
						    <li><span><i class="fa fa-phone"></i> +1 212.689.1616</span></li>
							<li><span><i class="fa fa-fax"></i> +1 212.504.8057</span></li>
					    </ul>
				    	
					    
					    <ul>
						    <li><a href="#" data-toggle="modal" data-target="#disclaimermodal"><i class="fa fa-bookmark"></i>Disclaimer</a></li>
							<li><a href="#" data-toggle="modal" data-target="#toumodal"><i class="fa fa-legal"></i>Terms of Use</a></li>
					    </ul>
					    
				    </div>
			    </div>
		    </div>
		    <!-- top bar end -->
<!-- HEADER START -->
			<header class="top-head" data-sticky="true">
		    	<div class="container">
			    	<!-- Logo start -->
			    	<div class="logo">
				    	<a href="index.html"><img alt="" src="assets/images/logo.png" /></a>
				    </div>
				    <!-- Logo end -->
				    
					<div class="f-right responsive-nav">
						<!-- top navigation menu start -->
						<nav class="top-nav nav-animate to-bottom">
							<ul>
								<li class="selected"><a href="#">Home</a>&nbsp;</li>
								<li><a href="#projinfo">Project Info</a>Overview</li>
								<li><a href="#apps">Applications</a>Available applications</li>
								<li><a href="#newusers">New User</a>Introduction
									<ul>
										<li><a href="#newusers"><i class="fa fa-info"></i> General</a></li>
										<li><a href="#roles"><i class="fa fa-male"></i> Role Definitions</a></li>
										<li><a href="#" data-toggle="modal" data-target="#newusermodal"><i class="fa fa-user-plus"></i> Account Request</a></li>
										<li><a href="#" data-toggle="modal" data-target="#licensemodal"><i class="fa fa-shopping-cart"></i> WF Pro License</a></li>
									</ul>
								</li>
								<li><a href="#help">Help</a>Guides &amp; FAQ
									<ul>
										<li><a href="#help"><i class="fa fa-book"></i> Help section</a></li>
										<li><a href="#" data-toggle="modal" data-target="#supportmodal"><i class="fa fa-support"></i> Support Request</a></li>
									</ul>
								</li>
								<li><a href="#contact">Contact</a>Us</li>
								<li class="mega-menu light-orange-bg"><a href="#">About Us</a>Content Solutions
									<ul>
										<li class="col-md-1 main-bg">
											<h4 class="white">GlobalLink Suite</h4>
											<ul>
												<li><a href="http://translations.com/products/technology_globallink_globalization_mananagement.html" ><i class="fa fa-sitemap"></i>&nbsp;Overview</a></li>
												<li><a href="http://www.translations.com/products/technology_project-director_globalization_workflow.html" ><i class="fa fa-cogs"></i>&nbsp;Project Director</a></li>
												<li><a href="http://www.translations.com/products/technology_tm-server_translation_memory.html" ><i class="fa fa-database"></i>&nbsp;TM Server</a></li>
												<li><a href="http://www.translations.com/products/technology_translation_review_portal.html" ><i class="fa fa-search"></i>&nbsp;Translation and Review Portal</a></li>
												<li><a href="http://www.translations.com/products/technology_term-manager_web-based_multilingual_glossary.html" ><i class="fa fa-th-list"></i>&nbsp;Term Manager</a></li>
												<li><a href="http://www.translations.com/products/technology_transstudio_translation_memory.html" ><i class="fa fa-edit"></i>&nbsp;TransStudio</a></li>
												<li><a href="http://www.translations.com/products/globallink-onelink" ><i class="fa fa-link"></i>&nbsp;OneLink</a></li>
												<li><a href="http://www.translations.com/products/globallink-portal.html" ><i class="fa fa-desktop"></i>&nbsp;GL Portal</a></li>
											</ul>
										</li>
									
										<li class="col-md-2" style="background:white">
											<h4>Other Technologies</h4>
											<ul>
												<li><a href="http://www.translations.com/products/astoria" >Astoria Structured Content Management</a></li>
												<li><a href="http://www.translations.com/products/technology_alchemy_visual_localization.html" >Alchemy Product Suite</a></li>
												<li><a href="http://www.translations.com/products/abreve-products" >ABREVE Authoring Platform</a></li>
											</ul>
										</li>
									
										<li class="col-md-1">
											<h4>Solutions</h4>
											<ul>
												<li><a href="http://www.translations.com/solutions/industry-solutions" >Industry Solutions</a></li>
												<li><a href="http://www.translations.com/solutions/functional-solutions" >Functional Solutions</a></li>
												<li><a href="http://www.translations.com/solutions/technical-solutions" >Technical Solutions</a></li>
											</ul>
										</li>
									
									</ul>
								</li>
							</ul>
						</nav>
						<!-- top navigation menu end -->
						    
					    <div class="f-right">
					    	<!-- top search start -->
						    <!--<div class="top-search">
					    		<a href="#" class="main-color"><span class="fa fa-search shape sm"></span></a>
						    	<div class="search-box">
					    			<input type="text" name="t" placeHolder="Type And Hit Enter..." />
						    	</div>
						    </div>-->
						    <!-- top search end -->
						    
						    <!-- cart start -->
						    <div class="top-cart">
					    		<a href="#">
								<span class="fa fa-info-circle fa-2x"></span><i class="cart-num main-bg white">5</i></a>
						    	<div class="cart-box">
						    		<div class="empty hidden">No GlobalLink Applications installed yet!</div>
										<div class="mini-cart">
											<ul class="mini-cart-list">
												<li>
													<a class="cart-mini-lft"><span class="fa fa-cogs" style="font-size: 4em;"></span></a>
													<div class="cart-body">
														<a href="https://gl-{{client}}1.translations.com/PD" ><span class="main-color">GlobalLink Project Director</span></a>
														<div class="price">Workflow application</div>
													</div>
												</li>
												<li>
													<a class="cart-mini-lft"><span class="fa fa-edit fa-2x"></span></a>
													<div class="cart-body">
														GlobalLink TransStudio Online
														<div class="price">Translation application</div>
													</div>
												</li>
												<li>
													<a class="cart-mini-lft"><span class="fa fa-search fa-2x"></span></a>
													<div class="cart-body">
														GlobalLink TransStudio Review
														<div class="price">Review application</div>
													</div>
												</li>
											<!--<li>
													<a class="cart-mini-lft"><span class="fa fa-search fa-2x"></span></a>
													<div class="cart-body">
														<a href="https://gl-{{client}}1.translations.com/TRP" ><span class="main-color">GlobalLink TRP</span></a>
														<div class="price">Review application</div>
													</div>
												</li>-->
												<li>
													<a class="cart-mini-lft"><span class="fa fa-database fa-2x"></span></a>
													<div class="cart-body">
														<a href="https://gl-{{client}}1.translations.com/TMS" ><span class="main-color">GlobalLink TM Server</span></a>
														<div class="price">Translation Memory Server</div>
													</div>
												</li>
												<li>
													<a class="cart-mini-lft"><span class="fa fa-th-list fa-2x"></span></a>
													<div class="cart-body">
														<a href="https://gl-{{client}}1.translations.com/TMGR" ><span class="main-color">GlobalLink Term Manager</span></a>
														<div class="price">Glossary application</div>
													</div>
												</li>
											</ul>
											<div class="mini-cart-total">
												<div class="clearfix">
													<div class="f-left">Number of applications::</div>
													<div class="f-right">5</div>
												</div>
												<!--<div class="clearfix">
													<div class="f-left">Tax (-10.00):</div>
													<div class="f-right">$12.05</div>
												</div>-->
												<div class="clearfix total">
													<div class="f-left"><strong>Last GlobalLink Update:</strong></div>
													<div class="f-right">Jan 2015</div>
												</div>
											</div>
											<div class="checkout">
												<a class="btn main-bg" href="">Close</a>
											</div>
										</div>
						    	</div>
						    </div>
						    <!-- cart end -->
					    </div>
					    
					</div>
		    	</div>
		    </header>
<!-- HEADER END -->
			
<!-- JUMBOTRON START -->
		    <div id="contentWrapper">
			<!-- UPGRADE banner -->
				<div class="padding-vertical-60 light-pink-bg">
					<div class="container">
						<div class="cta_btn">
							
							<div class="cta-icon md-icon f-left">
								<i class="fa fa-check shape pink-bg"></i>
							</div>
							
							<div class="f-left">
								<h2 class="cta_heading uppercase bold white">GlobalLink will be upgraded on <span class="dark-color">Feb 12 8:30PM EST</span>!</h2>
								<h4 class="cta_heading white">If you have any questions please contact us at <a href="#" data-toggle="modal" data-target="#supportmodal"><span class="white bolder">Support Request</span></a>.</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-top pink-bg">
					<div class="container">
			    			<div class="row">
			    				<div class="f-left">&nbsp;</div>
			    				<div class="f-right">
									<a href="#" data-toggle="modal" data-target="#upgrademodal" class="alter-bg block-link">More info</a>
								</div>
			    			</div>
			    		</div>
					</div>
				</div>
			<!-- UPGRADE banner end -->

			<!-- START REVOLUTION SLIDER 5.0.7 fullscreen mode -->
				<div id="home" class="rev_slider_wrapper fullscreen-container">
					<div id="slider" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.0.7">
						<ul>	<!-- SLIDE  -->
							<li data-index="rs-163" class="dark" data-transition="slideoververtical" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1500" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
								<!-- MAIN IMAGE -->
								<img src="custom/jumbotron.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								<!-- LAYER NR. 2 -->
								<div class="tp-caption Photography-Display uppercase tp-resizeme" 
									id="slide-163-layer-1" 
									data-x="['left','left','left','left']" data-hoffset="['20','20','20','10']" 
									data-y="['middle','middle','middle','middle']" data-voffset="['-210','-210','-210','-150']" 
									data-fontsize="['50','50','50','30']"
									data-lineheight="['40','40','40','30']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
									data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
									data-start="750" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on"
									style="z-index: 6; white-space: nowrap;">GlobalLink
								</div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption  main-color tp-resizeme" 
									id="slide-163-layer-3" 
									data-x="['left','left','left','left']" data-hoffset="['20','20','20','10']" 
									data-y="['middle','middle','middle','middle']" data-voffset="['-140','-140','-140','-100']" 
									data-fontsize="['70','70','70','40']"
									data-lineheight="['70','70','70','40']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
									data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
									data-start="1000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on"
									style="z-index: 7; white-space: nowrap;">We Know How.
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption Photography-Textblock   tp-resizeme" 
									id="slide-163-layer-4" 
									data-x="['left','left','left','left']" data-hoffset="['20','20','20','10']" 
									data-y="['middle','middle','middle','middle']" data-voffset="['-20','-20','-20','0']" 
									data-lineheight="['30','30','30','26']"
									data-width="['490','492','500','400']"
									data-height="none"
									data-whitespace="normal"
									data-transform_idle="o:1;"
									data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
									data-transform_out="x:[-100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
									data-start="1250" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" 
									style="z-index: 8; min-width: 490px; max-width: 490px; white-space: normal;">GlobalLink is a modular, flexible system of individual tools that all work equally well as standalone components or as an integrated system. Think your needs might change? Add or remove modules any time you want. GlobalLink is future-proof. 
								</div>

								<!-- LAYER NR. 5 -->
								<div class="tp-caption main-bg rev-btn rev-maxround rev-hiddenicon" 
									id="slide-163-layer-5" 
									data-x="['left','left','left','left']" data-hoffset="['20','20','20','10']"
									data-y="['middle','middle','bottom','bottom']" data-voffset="['130','130','130','170']" 
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power3.easeOut;"
									data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);"
									data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
									data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									data-mask_out="x:inherit;y:inherit;" 
									data-start="1250" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on" 
									data-responsive="off"
									style="z-index: 8; white-space: nowrap; font-size: 15px; line-height: 15px; font-weight: 600;font-family:Raleway;padding:13px 35px 13px 35px;border-radius:30px 30px 30px 30px;letter-spacing:1px;"><a href="#projinfo">Continue</a> <i class="fa fa-chevron-right"></i>
								</div>
								<!-- LAYER NR. 6 -->
								<div class="tp-caption  main-color tp-resizeme" 
									id="slide-163-layer-6" 
									data-x="['right','right','right','right']" data-hoffset="['20','20','20','10']" 
									data-y="['middle','middle','middle','middle']" data-voffset="['-140','-140','-140','-100']" 
									data-fontsize="['70','70','70','40']"
									data-lineheight="['70','70','70','40']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
									data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
									data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
									data-start="1000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on"
									style="z-index: 7; white-space: nowrap;"><img alt="" src="custom/client_logo.png" />
								</div>
							</li>
						</ul>
					</div>
				</div>
			<!-- SLIDER END -->
				
<!-- JUMBOTRON END -->
				
<!-- UPGRADE FEATURES BANNER start -->
		    	<div class="lg-banner alter-bg">
		    		<div class="container">
		    			<div class="banner-content">
		    				<div class="banner-slick">
		    				<p class="t-center white font-20 center-tbl width-percent-80 padding-vertical-20">Latest Features</p>
		    				<hr class="center-tbl width-percent-80 custom-hr">
							<div>
		    						<h1 class="t-center white uppercase"><span class="main-color">Updated</span> Manual Submission Dialog</h1>
		    					</div>
		    					<div>
		    						<h1 class="t-center white uppercase">Extended <span class="main-color">Custom Attributes</span></h1>
		    					</div>
		    					<div>
		    						<h1 class="t-center white uppercase">Additional <span class="main-color">Filter Capabilities</span></h1>
		    					</div>
		    					<div>
		    						<h1 class="t-center white uppercase">CMS Integration</h1>
		    					</div>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		    	<div class="lg-banner main-bg">
		    		<div class="container">
		    			<div class="banner-content">
		    				<div class="banner-slick">
		    				<p class="t-center white font-20 center-tbl width-percent-80 padding-vertical-20">More details below...</p>
								</div>
							</div>
		    			</div>
		    		</div>
		    	</div>
				<div class="section padding-vertical-0" style="background-color: #f2f2f2">
					<div class="container">
						<div class="row-eq-height">
							
							<div class="col-md-9 padding-vertical-40">
								<div class="testimonials bquotes_slider horizontal-slider" data-slides_count="3" data-scroll_amount="1" data-slider-speed="200" data-slider-infinite="1" data-slider-dots="1" data-slider-arrows="1">
									<div>
										<blockquote class="bquote-3 shape alter-bg">
											<div class="testimonials-img">
												<i class="fa fa-certificate fa-3x" style="color:#F38F04"></i>
											</div>
											<p class="white">Advanced Custom Attributes added to all projects.</p>
											<span class="t-center bottom ">GlobalLink <b class="main-color">Project Director</b></span>
										</blockquote>
									</div>
									<div>
										<blockquote class="bquote-3 shape alter-bg">
											<div class="testimonials-img">
												<i class="fa fa-archive fa-3x" style="color:#F38F04"></i>
											</div>
											<p class="white">Archiving activated for Projects A and B.</p>
											<span class="t-center bottom ">GlobalLink <b class="main-color">Project Director</b></span>
										</blockquote>
									</div>
									<div>
										<blockquote class="bquote-3 shape alter-bg">
											<div class="testimonials-img">
												<i class="fa fa-bell fa-3x" style="color:#F38F04"></i>
											</div>
											<p class="white">New Notifications added for organization users.</p>
											<span class="t-center bottom ">GlobalLink <b class="main-color">Project Director</b></span>
										</blockquote>
									</div>
									<div>
										<blockquote class="bquote-3 shape alter-bg">
											<div class="testimonials-img">
												<i class="fa fa-certificate fa-3x" style="color:#F38F04"></i>
											</div>
											<p class="white">Advanced Custom Attributes available for all TUs.</p>
											<span class="t-center bottom ">GlobalLink <b class="main-color">TM Server</b></span>
										</blockquote>
									</div>
									<div>
										<blockquote class="bquote-3 shape alter-bg">
											<div class="testimonials-img">
												<i class="fa fa-code fa-3x" style="color:#F38F04"></i>
											</div>
											<p class="white">Additional parsers available for Software projects.</p>
											<span class="t-center bottom ">GlobalLink <b class="main-color">Project Director</b></span>
										</blockquote>
									</div>
								</div>
							</div>
							
							<div class="col-md-3 heading padding-vertical-80">
								<div class="section-full-bg right black-bg" style="background-image:url('custom/pattern.jpg')"></div>
								<div class=" heading sub-head">
									<div class="head-4">
										<h3 class="font-30 white">Details</h3>
										<h4 class="font-30 white">GlobalLink <span class="main-color">Upgrade</span></h4>
									</div>
								</div>
								<p class="margin-top-20 relative white">The details about the features the most recent GlobalLink Upgrade includes.</p>
							</div>
						</div>
					</div>
				</div>
<!-- UPGRADE FEATURES BANNER end -->

<!-- PROJECT INFO section -->
				<div id="projinfo">
					<div class="lg-padding">
						<div class="container">
							<div class="heading main-heading centered">
								<h3>Project Information</h3>
								<h4 class="sub-title">Welcome to <span class="main-color">GlobalLink</span></h4>
							</div>
							<p class="heading-desc centered">Translations.com and <span class="main-color">{{client}}</span> have teamed up to offer this workflow tool designed to simplify your globalization efforts. Regardless of the department you work for, you'll be able to leverage each other's historic work and build off of existing successes.<br>
							There are 3 types of projects configured in Project Director:</p>
							
							<div class="row">
								<div class="col-md-3 zindx-1">
									<div class="fx" data-animate="fadeInLeft" data-animation-delay="200">
										<div class="icons-style-2 t-right">
											<i class="fa fa-file"></i>
											<span class="tri-line"></span>
											<h4 class="bold uppercase heading">Marketing Materials</h4>
											<p>Files uploaded manually by marketing team.</p>
										</div>
									</div>
									<div class="fx" data-animate="fadeInLeft" data-animation-delay="400">
										<div class="icons-style-2 t-right">
											<i class="fa fa-file"></i>
											<span class="tri-line bottom-tri"></span>
											<h4 class="bold uppercase heading">Documentation files</h4>
											<p>Files uploaded manually by marketing team.</p>
										</div>
									</div>
								</div>
								<div class="col-md-6 t-center zindx-0">
									<img class="fx" data-animate="fadeInUp" alt="" src="assets/images/ascend_imac3.png" />
								</div>
								<div class="col-md-3 zindx-1">
									<div class="fx" data-animate="fadeInRight" data-animation-delay="800">
										<div class="icons-style-2">
											<i class="fa fa-link"></i>
											<span class="tri-line left"></span>
											<h4 class="bold uppercase heading">Adaptor submissions</h4>
											<p>Files are posted automatically by the CMS to Project Director</p>
										</div>
									</div>
								</div>
							</div>

							<h4 class="sub-title">Submitting Files for <span class="main-color">Translation</span></h4>
							<p>When submitting files for translation, you can choose amongst various file formats that have been configured in PD for {{client}}. It is important to note that the default file format recognizes <span class="bolder">all</span> text in your source files as source text for translation. If you do not want text picked up as source, please mark it as hidden text (MS Word or PowerPoint), or hide the rows and columns not for translation (MS Excel).</p>

							<div class="msg-box error-box with-icon">
								<i class="fa fa-info"></i>
								<h4>Important</h4>
								<p>If you have specific instructions for what text should be picked up as source, please enter these in the instructions field. A Translations.com Project Manager will then do the necessary file prep to ensure only the source text you wish to have translated is picked up by Project Director.</p>
							</div>

						</div>
					</div>
				</div>				
				
					<div class="clearfix dark-bg">
						<div class="col-md-4 padding-horizontal-50 padding-vertical-50 over-hidden dark-bg">
							<i class="f-left fa fa fa-search font-70 white margin-top-30"></i>
							<div class="margin-left-100">
								<h3 class="white uppercase bold txt-shadow">GlobalLink®<br>TransStudio Review</h3>
								<p class="white txt-shadow">GlobalLink TransStudio Review is a java-based review and editing tool designed to improve the way in which reviewers work.<br>TransStudio Review provides an intuitive collaborative environment where Term Manager glossaries can be accessed directly enabling reviewers to work efficiently.</p>
							</div>
						</div>
						<div class="col-md-4 padding-horizontal-50 padding-vertical-50 over-hidden alter-bg">
							<i class="f-left fa fa fa-gears font-70 white margin-top-30"></i>
							<div class="margin-left-100">
								<h3 class="white uppercase bold txt-shadow">GlobalLink® Project Director</h3>
								<p class="white txt-shadow">GlobalLink Project Director streamlines the entire process of managing complex localization requirements for both online and offline content. Project Director provides powerful business process automation, flexible integration capabilities, translation vendor management and project workflow capabilities in an intuitive, web-based platform. As the flagship application of the GlobalLink Localization Suite, Project Director can be easily configured to meet any enterprise translation requirements.</p>
							</div>
						</div>
						<div class="col-md-4 padding-horizontal-50 padding-vertical-50 over-hidden main-bg">
							<i class="f-left fa fa fa-th-list font-70 white margin-top-30"></i>
							<div class="margin-left-100">
								<h3 class="white uppercase bold txt-shadow">GlobalLink® Term Manager</h3>
								<p class="white txt-shadow">GlobalLink Term Manager improves the way organizations manage and control highly branded, technical, or industry-specific terminology by streamlining the process of glossary creation, translation, approval, and sharing. Term Manager allows distributed teams to work together on terminology management more efficiently. Through Term Manager, project teams, translators, and vendors around the world can collaborate on, create, and maintain a centralized glossary of approved terminology.</p>
							</div>
						</div>
					</div>
				
				<div class="lg-padding parallax" style="background-image:url('assets/images/going-global.jpg')" data-stellar-background-ratio="0.6" id="apps">
					<div class="container">
						
						<div class="heading main-heading centered">
							<h3>Applications</h3>
							<h4 class="sub-title"><span class="main-color">Links</span> and Status</h4>
						</div>
						<p class="heading-desc centered">The following applications are currently rolled out in this deployment:</p>
						<div class="row">
							<div class="col-md-2">
			    				<div class="pricing-tbl style-4 no-margin">
			    					<div class="plan-head">
				    					<h3>TransStudio Online</h3>
				    					<i class="fa fa-edit"></i>
			    					</div>
			    					<ul>
		                                <li class="price_txt"><span class="price-lg">Active</span></li>
		                                <!-- .head end -->
		                                <li class="pricing-footer">
		                                    <a href="#" class="btn btn-medium btn-grey shape bolder">Documentation</a>
		                                </li>
		                            </ul>
			    				</div>
			    			</div>
			    			<div class="col-md-2">
			    				<div class="pricing-tbl style-4 no-margin">
			    					<div class="plan-head">
				    					<h3>TransStudio Review</h3>
				    					<i class="fa fa-search"></i>
			    					</div>
			    					<ul>
		                                <li class="price_txt"><span class="price-lg">Active</span></li>
		                                <!-- .head end -->
		                                <li class="pricing-footer">
		                                    <a href="#help" class="btn btn-medium btn-grey shape bolder">Documentation</a>
		                                </li>
		                            </ul>
			    				</div>
			    			</div>
			    			<div class="col-md-3">
			    				<div class="pricing-tbl style-4 no-margin selected">
			    					<div class="plan-head">
				    					<h3>Project Director</h3>
				    					<i class="fa fa-gears"></i>
			    					</div>
			    					<ul>
		                                <li class="price_txt"><span class="price-lg">Active</span></li>
		                                <!-- .head end -->
		                                <li class="pricing-footer">
		                                    <a href="#help" class="btn btn-medium btn-grey shape bolder">Documentation</a>
		                                </li>
		                            </ul>
			    				</div>
			    			</div>
			    			<div class="col-md-2">
			    				<div class="pricing-tbl style-4 no-margin">
			    					<div class="plan-head">
				    					<h3>TM Server</h3>
				    					<i class="fa fa-database"></i>
			    					</div>
			    					<ul>
		                                <li class="price_txt"><span class="price-lg">Active</span></li>
		                                <!-- .head end -->
		                                <li class="pricing-footer">
		                                    <a href="#help" class="btn btn-medium btn-grey shape bolder">Documentation</a>
		                                </li>
		                                </li>
		                            </ul>
			    				</div>
			    			</div>
							<div class="col-md-2">
			    				<div class="pricing-tbl style-4 no-margin">
			    					<div class="plan-head">
				    					<h3>Term Manager</h3>
				    					<i class="fa fa-th-list"></i>
			    					</div>
			    					<ul>
		                                <li class="price_txt"><span class="price-lg"></span>inactive</li>
		                                <!-- .head end -->
		                                <li class="pricing-footer">
		                                    <a href="#help" class="btn btn-medium btn-grey shape bolder">Documentation</a>
		                                </li>
		                                </li>
		                            </ul>
			    				</div>
			    			</div>
						</div>
						<p>&nbsp;</p>
						<div class="msg-box warning-box with-icon">
								<i class="fa fa-exclamation-circle font-30"></i>
								<h4>Pop-ups</h4>
								<p>Please configure your browser to accept pop-up windows from Translations.com.<br>
								Was your GlobalLink recently upgraded? Make you sure you clear out your browser cache (with links on how-to do that). </p>
								<p>For more information please consult the respective browser support page:
								<span class="main-color bolder"><a href="http://windows.microsoft.com/en-us/internet-explorer/ie-security-privacy-settings#ie=ie-9" >Internet Explorer 9</a></span> | <span class="main-color bolder"><a href="https://support.google.com/chrome/answer/95472" >Chrome</a></span> | <span class="main-color bolder"><a href="http://windows.microsoft.com/en-us/internet-explorer/ie-security-privacy-settings#ie=ie-11" >Internet Explorer 11</a></span>.</p>
							</div>
						
					</div>
				</div>
				
				<div class="lg-padding" id="newusers">
					<div class="container">
						<div class="heading main-heading centered">
							<h3>New Users</h3>
							<h4 class="sub-title">Information and Requests</h4>
						</div>
						<p class="heading-desc centered">First time users please read the <span class="main-color"><i class="fa fa-book"></i> Documentation</span> in the <a href="#help"><span class="main-color"><i class="fa fa-question"></i> Help</span></a> section. If you are not a user yet you can request to be set up via this <span class="main-color"><a href="#" data-toggle="modal" data-target="#newusermodal"><i class="fa fa-user"></i> link</a></span>.</p>

						<p><hr class="center-tbl width-percent-80 custom-hr"></p>
						
						<div class="section" style="padding: 20px 0" id="roles">
							<div class="col-md-6">
								<div class="section-full-bg left"></div>
								<div class="heading sub-head">
									<h3 class="head-4 uppercase dark-color"><span class="main-color">Project Director</span> Role Definitions</h3>
								</div>
								<div>
									<div class="icon-box-small">
										<i class="fa fa-user dark-bg shape md-icon"></i>
										<div class="icon-sm-desc">
											<h3 class="bold main-color uppercase">Submitter</h3>
											<p>Order role for translations. Can see all submissions for tracking purposes, and can create, edit, and cancel submissions. Can approve quotations, and is responsible for the final Supervisor Review step after Country Review.</p><p>&nbsp;</p>
										</div>
									</div>
								</div>
								<div>
									<div class="icon-box-small">
										<i class="fa fa-user dark-bg shape md-icon"></i>
										<div class="icon-sm-desc">
											<h3 class="bold main-color uppercase">Reviewer</h3>
											<p>Able to make linguistic changes/corrections to translated material. (In most cases, a local country representative.)</p>
										</div>
									</div>
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="row">
								<div class="heading sub-head">
									<h3 class="head-4 uppercase dark-color"><span class="main-color">Term Manager</span> Role Definitions</h3>
								</div>
								<div>
									<div class="icon-box-small">
										<i class="fa fa-user dark-bg shape md-icon"></i>
										<div class="icon-sm-desc">
											<h3 class="bold main-color uppercase">Viewer</h3>
											<p>Can view and search, but not edit, glossary terms.</p><p>&nbsp;</p>
										</div>
									</div>
								</div>
								<div>
									<div class="icon-box-small">
										<i class="fa fa-user dark-bg shape md-icon"></i>
										<div class="icon-sm-desc">
											<h3 class="bold main-color uppercase">Editor</h3>
											<p>Can view, search, and edit glossary terms (including custom attributes).</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>

				<div class="section" style="padding-bottom: 0" id="help">
					<div class="tabs-style-lg style-1 gry-bg">
						<div class="container">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a class="uppercase" href="#help_doc"><span><i class="fa fa-book main-color tab-icon"></i>Documentation</span></a></li>
								<li role="presentation"><a class="uppercase t-center" href="#help_wfp"><span><i class="fa fa-flag main-color tab-icon"></i>WF Pro</span></a></li>
								<li role="presentation"><a class="uppercase t-center" href="#help_faq"><span><i class="fa fa-question main-color tab-icon"></i>FAQs</span></a></li>
								<li role="presentation"><a class="uppercase" href="#help_support"><span><i class="fa fa-users main-color tab-icon"></i>Support Team</span></a></li>
							</ul>
						</div>
													
						<div class="lg-tab-content black-bg parallax" style="background-image:url('custom/pattern.jpg')" data-stellar-background-ratio="0.4" data-overlay="rgba(0,0,0,.4)">
							<div class="container">
								<div class="tab-content section" style="padding-top: 40px">
									<div role="tabpanel" class="tab-pane fade in active" id="help_doc">
										
										<div class="row">
											<div class="col-md-6 lg-tab-txt">
												<h3 class="uppercase bolder font-30">Role <span class="main-color">Submitter</span></h3>
												<ul>
													<li><a href="https://gl-{{client}}1.translations.com/doc/guide.pdf" class="font-20"><i class="fa fa-book"></i>&nbsp;&nbsp;Submitter Guide</a></li>
													<li><a href="https://gl-{{client}}1.translations.com/doc/guide.pdf" class="font-20"><i class="fa fa-book"></i>&nbsp;&nbsp;Submitter Quick Reference Guide</a></li>
												</ul>
											</div>
											<div class="col-md-6 lg-tab-txt">
												<h3 class="uppercase bolder font-30">Role <span class="main-color">Reviewer</span></h3>
												<ul>
													<li><a href="https://gl-{{client}}1.translations.com/doc/guide.pdf" class="font-20"><i class="fa fa-book"></i>&nbsp;&nbsp;Reviewer Guide</a></li>
													<li><a href="https://gl-{{client}}1.translations.com/doc/guide.pdf" class="font-20"><i class="fa fa-book"></i>&nbsp;&nbsp;Reviewer Quick Reference Guide</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane fade" id="help_wfp">
										<h3 class="uppercase bolder font-30">WordFast Pro <span class="main-color">License Request</span></h3>
										<p>As an approved Translations.com Vendor working on translation projects related to {{client}}, you may download and activate the WordFast application for use. To initiate the process, please follow steps 1-3.</p>
										<div class="row">
											<div class="col-md-3 lg-tab-txt">
												<h3 class="uppercase bolder font-20"><span class="main-color">Step 1</span> License</h3>
												<p>Complete all fields in the <a href="#" data-toggle="modal" data-target="#licensemodal"><span class="main-color bolder">License&nbsp;Request</span></a> form and submit&nbsp;it.</p>
											</div>
											<div class="col-md-3 lg-tab-txt">
												<h3 class="uppercase bolder font-20"><span class="main-color">Step 2</span> Installers</h3>
												<p>Download WordFast Pro v4.5 and install on your computer.</p>
												<ul>
													<li><a href="http://cdn.wordfast.com/WFP_4.5.0/Wordfast_Pro_4.5.0.msi"><i class="fa fa-angle-right"></i>&nbsp;Microsoft Windows&reg; Installer</a></li>
													<li><a href="http://cdn.wordfast.com/WFP_4.5.0/Wordfast_Pro_4.5.0.cocoa.tgz"><i class="fa fa-angle-right"></i>&nbsp;Mac OS X&reg; Installer</a></li>
												</ul>
											</div>
											<div class="col-md-3 lg-tab-txt">
												<h3 class="uppercase bolder font-20"><span class="main-color">Step 3</span> Activation</h3>
												<p>You will receive Activation Key via Email, from GlobalLink® Support Team. Activate WordFast through the <span class="bolder">License Manager</span> dialog.</p>
											</div>
											<div class="col-md-3 lg-tab-txt">
												<h3 class="uppercase bolder font-20"><span class="main-color">Step 4</span> Renewal</h3>
												<p>Your license will expire in 3 months. To renew, simply complete Step 1 above at the close of each 3 month period.</p>
											</div>
											</div>
										
									</div>
									<div role="tabpanel" class="tab-pane fade" id="help_faq">
										<div class="row">
											<div class="col-md-7 lg-tab-txt">
												<h3 class="uppercase bolder font-30">Frequently Asked <span class="main-color">Questions</span></h3>

												<div class="panel-group accordion style-4" id="accordion-5" role="tablist">
													<div class="panel">
														<div class="panel-heading" role="tab" id="headingOne-5">
															<h4 class="panel-title">
																<a role="button" class="shape" data-toggle="collapse" data-parent="#accordion-5" href="#collapseOne-5" aria-expanded="true" aria-controls="collapseOne-5"><i class="fa fa-angle-double-right"></i>Browsers supported by GlobalLink</a>
															</h4>
														</div>
														<div id="collapseOne-5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-5">
															<div class="panel-body">
																<p>GlobalLink Project Director is supported by the following browsers:</p>
																<ul><li><i class="fa fa-angle-right"></i>&nbsp;IE9</li><li><i class="fa fa-angle-right"></i>&nbsp;Google Chrome</li></ul>
																<p>Additionally, a 2Mbps Internet connection speed is recommended.</p>
															</div>
														</div>
													</div>
													<div class="panel">
														<div class="panel-heading" role="tab" id="headingTwo-5">
															<h4 class="panel-title">
																<a class="collapsed shape" role="button" data-toggle="collapse" data-parent="#accordion-5" href="#collapseTwo-5" aria-expanded="false" aria-controls="collapseTwo-5"><i class="fa fa-angle-double-right"></i>How do I clear Project Director's cache?</a>
															</h4>
														</div>
														<div id="collapseTwo-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-5">
															<div class="panel-body">
																<p> Open the Project Director dashboard and click on Account > Preferences on the top right hand corner. The Preferences dialog box appears. Click to clear Project Director internal cache. To clear browser cache you must manually clear the cache via the browsers own options. Alternatively you can press Shift+F5 to force a reload.</p>
															</div>
														</div>
													</div>
													<div class="panel">
														<div class="panel-heading" role="tab" id="headingThree-5">
															<h4 class="panel-title">
																<a class="collapsed shape" role="button" data-toggle="collapse" data-parent="#accordion-5" href="#collapseThree-5" aria-expanded="false" aria-controls="collapseThree-5"><i class="fa fa-angle-double-right"></i>I forgot my login details.</a>
															</h4>
														</div>
														<div id="collapseThree-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-5">
															<div class="panel-body">
																<p>If you have forgotten the password to login to Project Director, you can request for your password to be reset. On the System Login page, click on Forgot your Password? link. The Reset Password dialog box appears. Enter your User Name as set up in Project Director and click Reset Password. Your new password is sent to your email address.
																If you have forgotten your User Name, please email the Support team.</p>
															</div>
														</div>
													</div>
												</div>
												
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane fade" id="help_support">
										<div class="row">
											<div class="col-md-12 lg-tab-txt">
												<h3 class="uppercase bolder font-30">The <span class="main-color">{{client}}</span> Support Team</h3>
												
													<div class="col-md-4">
														<div class="icon-box gry-border-1 main-bg shape">
															<div class="block-icon eff-2 filled lg-icon circle">
																<i class="fa fa-user"></i>
															</div>
															<h3 class="t-center bottom_half_border">Jane Doe</h3>
															<p class="t-center">Solution Architect</p>
														</div>
													</div>
													<div class="col-md-4">
														<div class="icon-box gry-border-1 main-bg shape">
															<div class="block-icon eff-2 filled lg-icon circle">
																<i class="fa fa-user"></i>
															</div>
															<h3 class="t-center bottom_half_border">John Doe</h3>
															<p class="t-center">Solution Engineer</p>
														</div>
													</div>
													<div class="col-md-4">
														<div class="icon-box gry-border-1 main-bg shape">
															<div class="block-icon eff-2 filled lg-icon circle">
																<i class="fa fa-users"></i>
															</div>
															<h3 class="t-center bottom_half_border">Support</h3>
															<p class="t-center">The GlobalLink Support Team</p>
														</div>
													</div>
													<p>&nbsp;</p>
													<div class="row">
														<div class="col-md-12 t-center">
															<a class="btn btn-xxl btn-3d btn-sandy_brown" href="#" data-toggle="modal" data-target="#supportmodal">
																<i class="fa fa-support"></i>
																<span class="bolder uppercase font-20">Contact the Team</span>
																<span class="sub">Support Form</span>
															</a>
														</div>
													</div>
												</div>
												
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
						
					</div>
				</div>

<!-- FUN FACTS start -->
				<div class="section" style="padding: 0 0">
					<div class="container">
						<div class="row row-eq-height">
							
							<div class="col-md-3 padding-vertical-80">
								<div class="section-full-bg left light-blue-bg"></div>
								<div class="heading sub-head">
									<h3 class="head-4 uppercase dark-color">Fun <span class="white">Facts</span></h3>
								</div>
								<p class="white relative font-20">Some GlobalLink Statistics as per Jan 2017.</p>
							</div>
							
							<div class="col-md-9 padding-vertical-80">
								<div class="row">
									<div class="col-md-3">
										<div class="c-chart bottom-txt" data-dimension="150" data-text="" data-icon="fa-cogs" data-iconsize="30" data-iconcolor="#0090ff" data-info="" data-width="5" data-fontsize="35" data-percent="90" data-fgcolor="#0090ff" data-bgcolor="transparent" data-fill="transparent"></div>
										<h3 class="fun-number t-center odometer main-color" data-initial="0" data-value="1289" data-timer="500">0</h3>
										<div class="fun-info t-center">PD Submission</div>
									</div>
									
									<div class="col-md-3">
										<div class="c-chart bottom-txt" data-dimension="150" data-text="" data-icon="fa-files-o" data-iconsize="30" data-iconcolor="#f358db" data-info="" data-width="5" data-fontsize="35" data-percent="80" data-fgcolor="#f358db" data-bgcolor="transparent" data-fill="transparent"></div>
										<h3 class="fun-number t-center odometer main-color" data-initial="0" data-value="5986" data-timer="500">0</h3>
										<div class="fun-info t-center">Translated files</div>
									</div>
									
									<div class="col-md-3">
										<div class="c-chart bottom-txt" data-dimension="150" data-text="" data-icon="fa-calculator" data-iconsize="30" data-iconcolor="#49d103" data-info="" data-width="5" data-fontsize="35" data-percent="50" data-fgcolor="#49d103" data-bgcolor="transparent" data-fill="transparent"></div>
										<h3 class="fun-number t-center odometer main-color" data-initial="0" data-value="241960" data-timer="500">0</h3>
										<div class="fun-info t-center">Source Words</div>
									</div>
									
									<div class="col-md-3">
										<div class="c-chart bottom-txt" data-dimension="150" data-text="" data-icon="fa-users" data-iconsize="30" data-iconcolor="#ec8a35" data-info="" data-width="5" data-fontsize="35" data-percent="75" data-fgcolor="#ec8a35" data-bgcolor="transparent" data-fill="transparent"></div>
										<h3 class="fun-number t-center odometer main-color" data-initial="0" data-value="83" data-timer="500">0</h3>
										<div class="fun-info t-center">GlobalLink Users</div>
									</div>
									
								</div>
							</div>
							
						</div>
					</div>
				</div>
<!-- FUN FACTS end -->
<!-- MAP/CONTACT US start -->
				<div class="lg-padding relative" id="contact-form">
				    <div class="gmap map-overlay">
					    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyC4kDM4sPZx3empwA5TY2abXAaxTvU7MOg"></script>
					    <div id="map_canvas" style="height: 100%; width: 100%;">
					        <script type="text/javascript"> 
					    	    function init_map(){
					    		    var myOptions = {zoom:14,scrollwheel:false,center:new google.maps.LatLng(40.746564,-73.981075),mapTypeId: google.maps.MapTypeId.ROADMAP};
					    		    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
					    		    marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(40.746564,-73.981075)});
					    		    infowindow = new google.maps.InfoWindow({content:"<div class='noScroll'><b>Headquarter</b><br/>3 Park Ave<br/> New York, NY 10016</div>" });
					    		    google.maps.event.addListener(marker, "click", function(){
					    			    infowindow.open(map,marker);
					    		    });
					    		    infowindow.open(map,marker);
					    	    }
					    	    google.maps.event.addDomListener(window, 'load', init_map);
					        </script>
					    </div>
				    </div>
				    <div class="container">
				    	<div class="row">
						    <div class="conact_center_form fx shape" data-animate="fadeInUp">
								    <div class="heading centered">
									    <i class="fa fa-envelope tbl main-color"></i>
									    <h3 class="uppercase head-4 font-30 bold">Contact Us</h3>
										<div class="msg-box warning-box">
										<h5>Support Requests</h5>
										<p>For any GlobalLink related topics please use the dedicated <span class="main-color bolder"><a href="#" data-toggle="modal" data-target="#supportmodal"> Support Request</a></span> form.</p>
									</div>
								    </div>
								    
								    <div class="center_contact">
									    <div id="cform_message" style="display:none;">
		                                    <div class="cont-success center-text"><i class="fa fa-thumbs-o-up success-icon"></i><p class="congrats main-color">Thank You!</p><p class="congratsTxt">Your message was successfuly sent , We will get back to you very soon, if you need to browse our site just click the link below.</p><div><a href="index.html" class="btn btn-lg main-bg home_btn" >Go to home page</a></div></div>
		                                </div>
				    				    <form class="form-signin cform_v2" method="post" action="php/form.php" id="cform_v2" autocomplete="on">
											<!-- Hidden fields -->
											<input type="hidden" name="info" id="info" placeholder="INFO SECTION" />
											<input type="hidden" name="form" id="form" value="contact-form" placeholder="Contact form" />
											<input type="hidden" name="client" id="client" value="{{client}}" />
											<input type="hidden" name="instance" id="instance" value="http://gl-{{client}}1.translations.com" />
											<input type="hidden" name="env_report" value="REMOTE_HOST,REMOTE_ADDR,HTTP_USER_AGENT">
											<!-- END Hidden fields -->
				    					    <div class="form-input">
					    					    <input type="text" required="required" class="form-control shape" name="name" id="name" placeholder="Your Name">
				    					    </div>
				    					    <div class="form-input">
				    						    <input type="email" required="required" class="form-control shape" name="email" id="email" placeholder="E-mail Address">
				    					    </div>
				    					    <div class="form-input">
				    						    <input type="text" required="required" class="form-control shape" name="phone" id="phone" placeholder="Phone Number">
				    					    </div>
				    					    <div class="form-input">
				    						    <textarea required="required" class="shape" name="message" cols="40" rows="7" id="messageTxt" spellcheck="true" placeholder="Please enter your message here"></textarea>
				    					    </div>
				    					    <div class="form-input button-group">
				    						    <input type="submit" class="btn btn-lg main-bg btn-block submit-btn shape" id="cform_v2-submit-btn" value="Send Message">
				    					    </div>
				    				    </form>
								    </div>
						    </div>
				    	</div>
				    </div>
			    </div>
<!-- MAP/CONTACT US end -->
		    	
<!-- Footer start -->
			    <footer id="footWrapper">
			    	<div class="footer-top main-bg">
			    		<div class="container">
			    			<div class="row">
			    				<div class="f-left"><span class="font-20 uppercase"><span class="light-text bolder"><i class="fa fa-cog fa-spin"></i> GlobalLink</span> &ndash; The world's friendliest multilingual CMS</span></div>
			    				<div class="f-right">
								<a href="http://www.translations.com/globallink/products/globallink_enterprise.html"  class="alter-bg block-link">More details</a></div>
			    			</div>
			    		</div>
			    	</div>
			    	<div class="footer-middle">
					    <div class="container">
						    <div class="row">
						    	
						    	<!-- main menu footer cell start -->
							    <div class="col-md-3 first">
								    <h3>Main Menu</h3>
								    <ul class="menu-widget">
									    <li><a href="#top">Home</a></li>
									    <li><a href="#projinfo">Project Info</a></li>
									    <li><a href="#apps">Available Applications</a></li>
									    <li><a href="#newuser">New User</a></li>
									    <li><a href="#help">Help</a></li>
										<li><a href="#contact">Contact</a></li>
								    </ul>
							    </div>
							    <!-- main menu footer cell start -->
							    
							    <!-- Recent Posts footer cell start -->
							    <div class="col-md-3 contact-widget" style="background: transparent;">
								    <h3>Support</h3>
								    <div  class="details">
										<ul>
											<li><a href="#" data-toggle="modal" data-target="#newusermodal"><i class="fa fa-user-plus shape sm"></i><span>Account Request</span></a></li>
											<li><a href="#" data-toggle="modal" data-target="#licensemodal"><i class="fa fa-shopping-cart shape sm"></i><span>License Request</span></a></li>
											<li><a href="#" data-toggle="modal" data-target="#supportmodal"><i class="fa fa-support shape sm"></i><span>Support Request</span></a></li>
											<li>
											<form style="display:none;" action="php/form.php" method="post" enctype="multipart/form-data" name="upload-screenshot-form" id="upload-screenshot-form_ID" target="_blank">
												<input type="hidden" name="form" id="form" value="upload-screenshot-form" placeholder="Test form" />
												<input name="file" type="file" id="upload-screenshot-hidden" size="30" accept="file_extension,video/*,image/*,media_type/*"/>
												<input id="upload-screenshot-hidden-submit" name="Submit" type="submit" id="submit" value="Submit" />
											</form>
											</li>
										</ul>
									</div>
							    </div>
							    <!-- Recent Posts footer cell start -->
							    
							    <!-- Useful Links footer cell start -->
								<div class="col-md-3 contact-widget" style="background: transparent;">
								    <h3>Legal</h3>
								    <ul class="details">
								    	<li><a href="#" data-toggle="modal" data-target="#disclaimermodal"><i class="fa fa-bookmark shape sm"></i><span>Disclaimer</span></a></li>
								    	<li><a href="#" data-toggle="modal" data-target="#toumodal"><i class="fa fa-legal shape sm"></i><span>Terms of Use</span></a></li>
								    </ul>
							    </div>
							    <!-- Useful Links footer cell start -->
							    
							    <!-- Tags Cloud footer cell start -->
							    <div class="col-md-3 last contact-widget">
								    <h3>Contact Us</h3>
								    <ul class="details">
								    	<li><i class="fa fa-map-marker shape sm"></i><span>Three Park Avenue, 40th Floor<br>New York, NY 10016</span></li>
								    	<li><i class="fa fa-envelope shape sm"></i><span>info@translations.com</span></li>
								    	<li><i class="fa fa-phone shape sm"></i><span>+1 212.689.1616</span></li>
								    	<!--<li><i class="fa fa-skype shape sm"></i><span>our_skype_account</span></li>-->
								    </ul>
							    </div>
							    <!-- Tags Cloud footer cell start -->
							    
						    </div>
					    </div>	
				    </div>

				    <!-- footer bottom bar start -->
				    <div class="footer-bottom">
					    <div class="container">
				    		<div class="row">
					    		<!-- footer copyrights left cell -->
					    		<div class="copyrights col-md-5 first">© Copyright <b class="main-color">Translations.com</b> 2017. All rights reserved.</div>
					    						    		
					    		<!-- footer social links right cell start -->
							    <div class="col-md-7 last">
										<ul class="footer-menu f-right">
											<li><a href="http://www.translations.com/about-us" >About Us</a></li>
											<li>|</li>
											<li><a href="http://www.transperfect.com/about/privacy.html" >Privacy</a></li>
											<li>|</li>
											<li><a href="http://www.translations.com/about/global-group" >Global Group</a></li>
										</ul>
							    </div>
							    <!-- footer social links right cell end -->
							    
				    		</div>
					    </div>
				    </div>
				    <!-- footer bottom bar end -->
				</footer>
<!-- Footer end -->
		    </div>
		</div>

<!-- MODAL SECTION -->
		<!-- DISCLAIMER MODAL -->
		<div class="modal fade" id="disclaimermodal" tabindex="-1" role="dialog" aria-labelledby="disclaimermodal">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="gridSystemModalLabel">Disclaimer</h4>
		      </div>
		      <div class="modal-body">
		        <div class="padding-horizontal-20 padding-vertical-20">
		            	<p>The material in this website could include technical inaccuracies or other errors. The User's use and browsing of the website is at the User's risk. Neither Translations.com nor any other party involved in creating, producing or delivering the website shall be liable for any direct, incidental, consequential, indirect or punitive damages arising out of the User's access to, or use of, the website. Translations.com does not warrant that the functional aspects of the website will be uninterrupted or error free, or that this website or the server that makes it available are free of viruses or other harmful components. Please note that some jurisdictions may not allow the exclusion of implied warranties, so some of the above exclusions may not apply to particular Users. Translations.com reserves the right to make changes to this website at any time without notice.</p>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<!-- TERMS of USE MODAL -->
		<div class="modal fade" id="toumodal" tabindex="-1" role="dialog" aria-labelledby="toumodal">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="gridSystemModalLabel">Terms of Use</h4>
		      </div>
		      <div class="modal-body">
		        <div class="padding-horizontal-20 padding-vertical-20">
		            	<p>Confidential The material on this page is intended solely for {{client}}, and their employees that utilize Translations.com services. Contents shall not be unlawfully distributed.</p>
						<p>&copy; 2017 Translations.com</p>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<!-- UPGRADE MODAL -->
		<div class="modal fade" id="upgrademodal" tabindex="-1" role="dialog" aria-labelledby="upgrademodal">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="gridSystemModalLabel">What can I expect during the upgrade?</h4>
		      </div>
		      <div class="modal-body">
		        <div class="padding-horizontal-20 padding-vertical-20">
		            	<h3>During the upgrade PD is expected to be unavailable for approximately one hour.</h3>
						<p><span class="bolder">Once the upgrade is completed please take into account the following:</span></p>
						<ul>
							<li><i class="fa fa-angle-right"></i>&nbsp;<span class="">Please clear your cache the next time you log in to PD.</span></li>
							<li><i class="fa fa-angle-right"></i>&nbsp;<span>abcd</span></li>
							<li><i class="fa fa-angle-right"></i>&nbsp;<span>abcd</span></li>
						</ul>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<!-- NEW USER REQUEST MODAL -->
		<div class="modal fade" id="newusermodal" tabindex="-1" role="dialog" aria-labelledby="registermodal">
		  <div class="modal-dialog" role="document">
			
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="gridSystemModalLabel">Request Login</h4>
		      </div>
		      
		      <div class="modal-body">

				<div id="account_message" style="display:none;">
		            <div class="cont-success center-text"><i class="fa fa-thumbs-o-up success-icon"></i><p class="congrats main-color">Thank You!</p><p class="congratsTxt">Your message was successfuly sent , We will get back to you very soon, if you need to browse our site just click the link below.</p><div><a class="btn btn-lg main-bg index_home">Go to home page</a></div></div>
		        </div>
		        <div class="account-modal-body padding-horizontal-20 padding-vertical-20">
		            	<p>Dear Visitor, please fill in the form below to request access to GlobalLink.</p>
						<div class="login-controls">

							<!-- Hidden fields -->
		      				<form class="account_form_request_v2" method="post" role="form" action="php/form.php" id="account_form_request_v2" autocomplete="on" target="_blank">
							<input type="hidden"name="info" id="info" placeholder="INFO SECTION" />
							<input type="hidden"name="form" id="form" value="new-user-request-form" placeholder="New User form" />
							<input type="hidden"name="client" id="client" value="{{client}}" />
							<input type="hidden"name="instance" id="instance" value="http://gl-{{client}}1.translations.com" />
							<input type="hidden" name="env_report" value="REMOTE_HOST,REMOTE_ADDR,HTTP_USER_AGENT">
							<!-- END Hidden fields -->
							<div class="form-group">
								<input type="text" required="required" class="form-control shape" name="name" id="name" placeholder="Name" />
							</div>
							 <div class="form-group">
								<input type="text" required="required" class="form-control shape" name="surname" id="surname" placeholder="Last Name" />
							</div>
							<div class="form-group">
								<input type="email" required="required" class="form-control shape" name="email" id="email" placeholder="E-Mail Address" onfocusout="validate.checkEmail($(this))" />
							</div>
							<div class="form-group">
								<input type="text" required="required" class="form-control shape" name="phone" id="contact" placeholder="Phone Number" />
							</div>
							<div>Please select your Department:</div>
							<div class="form-group">
								<select id="department" name="department">
									<option disabled selected value>-- select an option --</option>
									<option value="Corporate">Corporate</option>
									<option value="Finance">Finance</option>
									<option value="HR">HR</option>
									<option value="Legal">Legal</option>
									<option value="Marketing">Marketing</option>
								</select>
							</div>
							<div class="form-group floated-controls Account_Agree-div">
								<span id="Account_Agree_Span" class="block checkbox-block"><input id="Account_Agree" type="checkbox" class="checkbox" /> <span>I Agree!</span></span>
								<p>You are agreeing that the data provided will be used by the GlobalLink&reg; team to create your user account.</p>
							</div>
							</form>
						</div>
		        </div>
		        
		      </div><!-- /.modal-body-->
		      
		      <div class="form-group modal-footer">
		        <button type="button" class="btn main-bg" id="submit_account_form">Submit</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		

		<!-- WF PRO LICENSE REQUEST MODAL -->
		<div class="modal fade" id="licensemodal" tabindex="-1" role="dialog" aria-labelledby="licensemodal">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="gridSystemModalLabel">WordFast Pro Request Form</h4>
		      </div>
		      <div class="modal-body">
		      	<div id="wordfast_message" style="display:none;">
		            <div class="cont-success center-text"><i class="fa fa-thumbs-o-up success-icon"></i><p class="congrats main-color">Thank You!</p><p class="congratsTxt">Your message was successfuly sent , We will get back to you very soon, if you need to browse our site just click the link below.</p><div><a class="btn btn-lg main-bg index_home">Go to home page</a></div></div>
		        </div>
		        <div class="wordfast-modal-body padding-horizontal-20 padding-vertical-20">
		            	<p>To Request a WordFast Pro License please fill in the following form:</p>
						<div class="login-controls">

							<!-- Hidden fields -->
							<form id="wordfast_form_request_v2" method="post" role="form" action="php/form.php" autocomplete="on" target="_blank">
							<input type="hidden" name="info" id="info" placeholder="INFO SECTION" />
							<input type="hidden" name="form" id="form" value="wordfast-pro-request-form" placeholder="New User form" />
							<input type="hidden" name="client" id="client" value="{{client}}" />
							<input type="hidden" name="instance" id="instance" value="http://gl-{{client}}1.translations.com" />
							<input type="hidden" name="env_report" value="REMOTE_HOST,REMOTE_ADDR,HTTP_USER_AGENT">
							<!-- END Hidden fields -->
							<div class="form-group">
								<input type="text" required="required" class="form-control shape" name="name" id="name" placeholder="Name" />
							</div>
							 <div class="form-group">
								<input type="text" required="required" class="form-control shape" name="surname" id="surname" placeholder="Last Name" />
							</div>
							<div class="form-group">
								<input type="text" required="required" class="form-control shape" name="company", id="company" placeholder="Company (for Vendor only)" />
							</div>
							<div class="form-group">
								<input type="text" required="required" class="form-control shape" name="code" id="code" placeholder="Code" />
							</div>
							<p>*If you do not have a code, please contact your Vendor Project Manager.</p>
							<div class="form-group">
								<input name="email"  required="required" type="email" class="form-control shape" id="email" placeholder="E-Mail Address" onfocusout="validate.checkEmail($(this))"/>
							</div>
							<div class="form-group">
								<input name="phone"  required="required" type="text" class="form-control shape" id="contact" placeholder="Phone Number" />
							</div>
							<div>License Type:</div>
							<div class="form-group">
								<select id="license" name="license">
									<option disabled selected value>-- select an option --</option>
									<option value="New">New</option>
									<option value="Renewal">Renewal</option>
								</select>
							</div>
							
							<div class="form-group">
								<textarea required="required" class="shape" name="comment" id="comment" cols="40" rows="7" spellcheck="true" placeholder="Comment"></textarea>
							</div>
							<div>By clicking Submit you are acknowledging that this software will only be used for {{client}} jobs routed through the GlobalLink® system. No other usage is permitted.</div>
							</form>
						</div>
		        </div>
		      </div> <!-- /.modal-body-->
		      <div class="modal-footer">
		        <button type="button" class="btn main-bg" id="submit_wordfast_form">Submit</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<!-- SUPPORT REQUEST MODAL -->
		<div class="modal fade" id="supportmodal" tabindex="-1" role="dialog" aria-labelledby="supportmodal">
		  <div class="modal-dialog"  style="width:800px" role="document"> 
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="gridSystemModalLabel">Support Request Form</h4>
		      </div>
		      <div class="modal-body">
		        <div id="support_message" style="display:none;">
		            <div class="cont-success center-text"><i class="fa fa-thumbs-o-up success-icon"></i><p class="congrats main-color">Thank You!</p><p class="congratsTxt">Your message was successfuly sent , We will get back to you very soon, if you need to browse our site just click the link below.</p><div><a class="btn btn-lg main-bg index_home">Go to home page</a></div></div>
		        </div>
		        <div class="support-modal-body padding-horizontal-20 padding-vertical-20">
		            	<p>To request assistance please fill in the following form:</p>
						<div class="login-controls">
							<form id="support_form_request_v2" method="post" action="php/form.php" role="form" autocomplete="on" enctype="multipart/form-data">
							<!-- Hidden fields -->
							<input type="hidden"name="info" id="info" placeholder="INFO SECTION" />
							<input type="hidden"name="form" id="form" value="support-request-form" placeholder="Support Request form" />
							<input type="hidden"name="client" id="client" value="{{client}}" />
							<input type="hidden"name="instance" id="instance" value="http://gl-{{client}}1.translations.com" />
							<input type="hidden" name="env_report" value="REMOTE_HOST,REMOTE_ADDR,HTTP_USER_AGENT">
							 <input type="hidden" name="MAX_FILE_SIZE" value="3000" />
							<input type="hidden" name="subject" value="{{client}} | Support Request">
							<input type="hidden" name="derive_fields" value="subject = %subject% :: %application% %sub%" />
							<!-- END Hidden fields -->
							<div class="form-group">
								<input type="text" required="required" class="form-control shape" name="name" id="name" placeholder="Name" />
							</div>
							 <div class="form-group">
								<input type="text" required="required" class="form-control shape" name="surname" id="surname" placeholder="Last Name" />
							</div>
							 <div class="form-group">
								<input type="text" required="required" class="form-control shape" name="username" id="username" placeholder="GlobalLink User Name" />
							</div>
							<div class="form-group">
								<input name="email" required="required" type="email" class="form-control shape" id="email" placeholder="E-Mail Address" onfocusout="validate.checkEmail($(this))" />
							</div>
							<div class="form-group">
								<input name="phone" required="required" type="text" class="form-control shape" id="contact" placeholder="Phone Number" />
							</div>
							<div>Application:</div>
							<div class="form-group">
								<select id="application" name="application">
									<option disabled selected value>-- select an option --</option>
									<option value="General">General</option>
									<option value="PD">GlobalLink Project Director</option>
									<option value="TSO">GlobalLink TransStudio Online</option>
									<option value="TSR">GlobalLink TransStudio Review</option>
									<!--<option value="TRP">GlobalLink TRP</option>-->
									<option value="TMS">GlobalLink TM Server</option>
									<option value="TMS">GlobalLink Term Manager</option>
								</select>
							</div>
							<p>If your question is about Project Director please include the Submission ID:</p>
							<div class="form-group">
								<input type="text" class="form-control shape" name="subid" id="subid" placeholder="Submission ID" />
							</div>
							<div class="form-input">
								<textarea required="required" class="shape" name="message" cols="40" rows="7" id="messageTxt" spellcheck="true" placeholder="Issue Description"></textarea>
							</div>
							</form>
							<div class="form-input screen-div" data-provides="fileupload">
								Please also include a screenshot (full screen) if possible:
								<input type="button" class="screenshot" name="screenshot" id="screenshot_btn" value="Choose File:">
								<input type="button" class="screenshot" name="screenshot-upload" id="screenshot_upload_btn" value="Upload">
								<div>
									<ul class="upload-div" style="font-weight: bold;">
									</ul>
								</div>
							</div>
							
						</div>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn main-bg" id="support-request-form-submit" >Submit</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<!-- Back to top Link -->
	    <a id="to-top"><span class="fa fa-chevron-up shape main-bg"></span></a>
<!-- MODAL SECTION end -->
<!-- JS SECTION -->
	    <!-- Load JS plugins file -->
 		<script type="text/javascript" src="assets/js/assets.min.js"></script>
 		<script type="text/javascript" src="assets/js/index.js"></script>
		<script type="text/javascript" src="assets/js/jquery.form.min.js"></script>

		<!-- Load Angular JS library -->
		<script type="text/javascript" src="assets/js/angular.min.js"></script>
 		<!-- SLIDER REVOLUTION  -->
		<script type="text/javascript" src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
		<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
			(Load Extensions only on Local File Systems !  +
			The following part can be removed on Server for On Demand Loading) -->
		<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
		<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
		<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
		<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
		<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
		<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
		<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
		<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
		<!--<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>-->
		<!-- END SLIDER REVOLUTION 5.0 EXTENSIONS -->
		<!-- Angular JS controller -->
		<script type="text/javascript">
		var app = angular.module('landingpage', []);
		app.controller('ctrl', function($scope) {
		    $scope.client= "testClient";
		});
		</script>

		<script type="text/javascript">
			var tpj=jQuery;					
			var revapi48;
			tpj(document).ready(function() {
				$("a").filter(function() {
					return this.hostname && this.hostname !== location.hostname;
				}).attr('target', '_blank');
				if(tpj("#slider").revolution == undefined){
					revslider_showDoubleJqueryError("#slider");
				}else{
					revapi48 = tpj("#slider").show().revolution({
						sliderType:"standard",
						jsFileLocation:"assets/revolution/js/",
						sliderLayout:"fullscreen",
						dottedOverlay:"none",
						delay:9000,
						navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            onHoverStop: "off",
                            touch: {
                                touchenabled: "on",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            },
                            arrows: {
                                style: "gyges",
                                enable: false,
                                hide_onmobile: false,
                                hide_onleave: false,
                                tmp: '',
                                left: {
                                    h_align: "left",
                                    v_align: "center",
                                    h_offset: 10,
                                    v_offset: 0
                                },
                                right: {
                                    h_align: "right",
                                    v_align: "center",
                                    h_offset: 10,
                                    v_offset: 0
                                }
                            },
                            bullets: {
                                enable: false,
                                hide_onmobile: false,
                                style: "gyges",
                                hide_onleave: false,
                                direction: "horizontal",
                                h_align: "center",
                                v_align: "_top",
                                h_offset: 0,
                                v_offset: 20,
                                space: 5,
                                tmp: ''
                            }
                        },
                        parallax: {
							type:"mouse",
							origo:"slidercenter",
							speed:2000,
							levels:[2,3,4,5,6,7,12,16,10,50],
						},
						responsiveLevels:[1240,1024,778,480],
						gridwidth:[1240,1024,778,480],
						gridheight:[868,768,960,720],
						lazyType:"none",
						shadow:0,
						spinner:"off",
						stopLoop:"on",
						stopAfterLoops:0,
						stopAtSlide:1,
						shuffle:"off",
						autoHeight:"off",
						fullScreenAlignForce:"off",
						fullScreenOffsetContainer: "",
						fullScreenOffset: "",
						disableProgressBar:"on",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							simplifyAll:"off",
							nextSlideOnWindowFocus:"off",
							disableFocusListener:false,
						}
					});
					
					revapi48.bind("revolution.slide.onchange",function (e,data) {
					if($('.top-head').hasClass('transparent') || $('.top-head').hasClass('boxed-transparent')){
						if($('#slider ul > li').eq(data.slideIndex-1).hasClass('dark') ){
							$('.top-head').removeClass('not-dark');
							$('.top-head').addClass('dark');
							var logo = $('.logo').find('img').attr('src').replace("logo.png", "logo-light.png");
							$('.logo').find('img').attr('src',logo);
						} else {
							$('.top-head').removeClass('dark');
							$('.top-head').addClass('not-dark');
							var logo = $('.logo').find('img').attr('src').replace("logo-light.png", "logo.png");
							$('.logo').find('img').attr('src',logo);
						}
						if($('.top-head').hasClass('sticky-nav')){
							var logo = $('.logo').find('img').attr('src').replace("logo-light.png", "logo.png");
							$('.logo').find('img').attr('src',logo);
						}
					}
	            });
				}
			});	/*ready*/
		</script>
				
		<!-- general script file -->
		<script type="text/javascript" src="assets/js/script.js"></script>
<!-- END Scripts -->
<!-- GOOGLE ANALYTICS start -->
		<!--<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-71760681-2', 'auto');
				ga('send', 'pageview');

		</script>-->
<!-- GOOGLE ANALYTICS end -->
	</body>
</html>
